# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
desktop.ini
markdown-cheatsheet-online.pdf
markdown-guide.pdf
KickstarterAnalysis/Homework_01-Excel_Diane_Witt.docx
KickstarterAnalysis/Images/success_avg_backers.jpg
KickstarterAnalysis/Images/success_avg_backers.png
KickstarterAnalysis/Images/success_avg_goal.jpg
KickstarterAnalysis/Images/failure_avg_backers.jpg
KickstarterAnalysis/Images/failure_avg_goal.jpg
Images/failure_avg_backers.jpg
Images/failure_avg_goal.jpg
Images/Picture1.jpg
Images/Picture10.jpg
Images/Picture11.jpg
Images/Picture12.jpg
Images/Picture13.jpg
Images/Picture2.jpg
Images/Picture3.jpg
Images/Picture4.jpg
Images/Picture5.jpg
Images/Picture6.jpg
Images/Picture7.jpg
Images/Picture8.jpg
Images/Picture9.jpg
Images/success_avg_backers.jpg
Images/success_avg_backers.png
Images/success_avg_goal.jpg
excel-instructions.lnk
Lesson-Plans_01-Excel_StudentGuide.md · master · NU-Coding-Bootcamp _ NU-CHI-DATA-PT-08-2020-U-C · GitLab.pdf
Homework_01-Excel_Instructions_StarterBook.xlsx
Homework_01-Excel_Instructions_excel_grading_rubric.pdf
Homework_01-Excel_Instructions · master · NU-Coding-Bootcamp _ NU-CHI-DATA-PT-08-2020-U-C · GitLab.pdf
Homework_01-Excel_Diane_Witt.xlsx
Homework_01-Excel_Diane_Witt.docx
Homework 01 Report - Diane Witt.docx
